/* Waybar configuration */
/* Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration */

/* Keyframes */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* Base styles */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: Iosevka, monospace;
    font-size: 14px;    
}

/* The whole bar */
#waybar {
    background: #323232;
    color: #888888;
}

/* Each module */
#battery,
#clock,
#custom-keyboard-layout,
#idle_inhibitor,
#mode,
#network,
#pulseaudio,
#tray {
    padding-left: 5px;
    padding-right: 5px;
}


/* Module styles */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 10s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 5s;
}

#clock {
    font-weight: bold;
}


#mode {
    background: #64727D;
    color: white;
    /*border-top: 2px solid white;*/
    /* To compensate for the top border and still have vertical centering */
    /*Spadding-bottom: 2px;*/
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#tray {
    /* No styles */
}

#workspaces button {
    /*border-top: 2px solid transparent;*/
    /* To compensate for the top border and still have vertical centering */
    /*padding-bottom: 2px;*/
    padding-left: 7px;
    padding-right: 7px;
    color: #888888;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: white;
    background-color: #285577;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
